* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: regular;
}

nav {
  z-index: 100000;
}
.navbar-logo {
  margin-left: 32px;
  padding: 15px;
  color: #fff;
}

.navbar-mainbg {
  background-color: #76232f;
  padding: 0px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: azure;
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: #3586ff;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}

footer {
  margin-top: 125px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #76232f;
  min-height: 60px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
}
footer .social_icon li a {
  font-size: 2em;
  color: azure;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-15px);
  color: blue;
}

footer .menu li a {
  font-size: 1.2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover {
  opacity: 1;
  color: #fff;
}
p {
  color: whtie;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 1.1em;
}

.copyright {
  color: white;
}

#copyright2 {
  color: white;
  margin-top: 0px;
}

.text {
  color: black;
  text-align: justify;
}

.loading {
  display: none;
}
.normal {
  display: none;
}

#normalMessage {
  color: green;
  margin-bottom: 28px;
}

#normalMessage {
  margin-bottom: 28px;
}
button {
  background: #76232f;
  border: 1px solid #76232f;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 12px;
  font-weight: 800;
  outline: 0;
  padding: 4px 4px;
  text-align: center;
}

button:hover,
button:active {
  background-color: initial;
  background-position: 0 0;
  color: #76232f;
}

label[for="link"] {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: regular;
}

input {
  width: 35%;
  padding: 1px;
  font-size: 12px;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  margin-bottom: 28px;
}

.image-container {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.image-container img {
  width: 45%;
  height: auto;
}

.note {
  align-items: center;
}

#BERT {
  width: 90%;
  height: auto;
}
